@{
    ViewBag.eventname = null;
    ViewBag.eventid = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />

   
</head>
<body style="background-color:grey">
    <table align="center" border="0" cellpadding="0" cellspacing="0"
           width="550" bgcolor="white" style="border:2px solid black">
        <tbody>
            <tr>
                <td align="center">
                    <table align="center" border="0" cellpadding="0"
                           cellspacing="0" class="col-550" width="550">
                        <tbody>
                            <tr>
                                <td align="center" style="background-color: #222222;
                                           height: 50px;">

                                    <a href="#" style="text-decoration: none;">
                                     
                                        <img src="~/Content/EPAM_LOGO_WhiteAndBlue.png" width="80" height="28" /></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
          

            <tr style="display: inline-block;">
                <td style="height: 150px;
                           padding: 20px;
                           border: none;
                           border-bottom: 2px solid #361B0E;
                           background-color: white;">

                    <h3 style="text-align: left;
                               align-items: center;">
                        Event ID:@ViewBag.eventid
                        <br>
                        Event Name:@ViewBag.eventname
                    </h3>
                    <p class="lead"><strong>Please refer your QR image attachement available below. </strong></p>

                    <img src="~/Content/EPAM_LOGO_WhiteAndBlue.png" style="margin-left:10px;margin-right:20px;height:28px;width:80px" />
                    <p style="margin: 0; padding: 0;"><b><span style="font-family: Arial, sans-serif; font-size: 11pt; color: #39c2d7; text-transform: uppercase;">Varundhar Gandham</span></b></p><p style="margin: 0; padding: 0;"><b><span style="font-family: Arial, sans-serif; font-size: 10pt; color: #464547;">Junior Software Engineer</span></b></p><p style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 5pt; line-height: 5pt;">&nbsp;</p><p style="margin: 0; padding: 0;"><!----><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;">Office:&nbsp;</span></b><!----><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;"><a style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666; text-decoration: none; text-underline: none; border-style: none;" href="tel:+1 267 759 9000;ext=x21846">+1 267 759 9000<b>x</b>x21846</a></span><span>&nbsp;&nbsp;</span><!----><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;"><a style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666; text-decoration: none; text-underline: none; border-style: none;" href="tel:"></a></span><span>&nbsp;&nbsp;</span><!----><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;">Email:&nbsp;</span></b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666; text-transform: lowercase;"><a style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666; text-decoration: none; text-underline: none; border-style: none; text-transform: lowercase;" href="mailto:Varundhar_Gandham@epam.com">Varundhar_Gandham@epam.com</a></span></p><p style="margin: 0; padding: 0;"><!----><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;">Hyderabad</span></b><!----><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;">,</span></b>&nbsp; <!----><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;">India</span></b><span>&nbsp;&nbsp;</span><b><span style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666;"><a style="font-family: Arial, sans-serif; font-size: 8pt; color: #666666; text-decoration: none; text-underline: none; border-style: none;" href="http://www.epam.com">epam.com</a></span></b></p><p style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 6pt; line-height: 6pt;">&nbsp;</p><p style="margin: 0; padding: 0;"><b><span style="font-family: Arial, sans-serif; font-size: 9pt; color: #464547;"></span></b></p><p style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 10pt; line-height: 10pt;">&nbsp;</p><!----><p style="margin: 0; padding: 0;"> </p><p style="margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 6pt; line-height: 6pt;">&nbsp;</p>

                </td>
            </tr>
            <tr style="border: none;
            background-color: #222222;
            height: 20px;
            color:white;
            padding-bottom: 20px;
            text-align: center;">

                <td height="30px" align="center">
                    <p style="color:white;
    line-height: 1.5em; padding:5px;">
                        © 2020 EPAM Systems, Inc. All Rights Reserved
                    </p>


                </td>
            </tr>
           
        </tbody>
    </table>


</body>
</html>